# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------
# Virtual Environment
# ------------------------------
.venv/
venv/
env/

# ------------------------------
# Django
# ------------------------------
db.sqlite3
media/
staticfiles/

# ------------------------------
# Environment Variables
# ------------------------------
.env

# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# PyCharm
# ------------------------------
.idea/

# ------------------------------
# macOS
# ------------------------------
.DS_Store

# ------------------------------
# Windows
# ------------------------------
Thumbs.db
Desktop.ini

# ------------------------------
# Logs
# ------------------------------
*.log